# To install all dependencies: python -m pip install -r requirements.txt

python-dotenv

# -- NFC functionality --
pyscard

# --CSV functionality--
pandas

# --AES/RSA/AES and RSA--
pycryptodome

# --ECC--
cryptography

# --HILLCIPHER--
numpy

# --DATABASE-- 
pymongo

# --CP-ABE--
gmpy2

# --GUI--
datetime

# --BACKEND--
logging
psutil

