# To install all dependencies: python -m pip install -r requirements.txt

python-dotenv


# -- NFC functionality --
pyscard

# --CSV functionality--
pandas
csv
# --AES/RSA/AES and RSA--
pycryptodome

# --ECC--
cryptography

# --HILLCIPHER--
numpy

# --DATABASE-- 
pymongo

# --CP-ABE--
gmpy2
hashlib
random

# --GUI--
tkinter
datetime

# --EMAIL--
smtplib
email

# --BACKEND--
logging
os
sys
tracemalloc
time
psutil
pickle
base64
